In [11]:
import requests
import sys
print(sys.stdout.encoding)
import pandas as pd
import io
import re

UTF-8

In [12]:
assetList=["GLAXO","AARTIIND","ABB","ABCAPITAL","ACC","AKZOINDIA","ALKYLAMINE","ALLCARGO","AMARAJABAT","AMBUJACEM","APCOTEXIND","APOLLOTYRE","ARVIND","ASHOKLEY","ASIANPAINT","ASTEC","ASTRAL","ATULAUTO","AXISBANK","BAJAJ-AUTO","BAJAJCORP","BAJAJELEC","BAJAJFINSV","BAJAJHLDNG","BAJFINANCE","BANKBARODA","BASF","BATAINDIA","BAYERCROP","BEML","BEPL","BHEL","BIOCON","BIRLAMONEY","BODALCHEM","CADILAHC","CAMLINFINE","CANBK","CAREERP","CERA","CESC","CGCL","CGPOWER","CIPLA","COALINDIA","COROMANDEL","CORPBANK","COX&KINGS","CRISIL","CROMPTON","CUMMINSIND","CYIENT","DAAWAT","DABUR","DCBBANK","DENABANK","DMART","EDELWEISS","EIDPARRY","FEDERALBNK","FINCABLES","GABRIEL","GAIL","GATI","GHCL","GICHSGFIN","GILLETTE","GLENMARK","GODREJAGRO","GODREJCP","GODREJIND","GODREJPROP","GRASIM","GREENPLY","GRINDWELL","GRUH","GSKCONS","HDFC","HDFCBANK","HDFCLIFE","HEIDELBERG","HERCULES","HERITGFOOD","HEROMOTOCO","HINDALCO","HTMEDIA","IBULHSGFIN","ICICIBANK","IDBI","IL&FSENGG","IL&FSTRANS","IRB","ITC","J&KBANK","JAGRAN","JYOTHYLAB","KALPATPOWR","KEC","KEI","KIRLOSBROS","KIRLOSENG","KIRLOSIND","KITEX","KOLTEPATIL","KPIT","KTKBANK","L&TFH","LALPATHLAB","LAOPALA","LIBERTSHOE","LICHSGFIN","LUMAXIND","LUPIN","M&M","M&MFIN","MAHSCOOTER","MANAPPURAM","MANPASAND","MARICO","MARUTI","MAXINDIA","MAYURUNIQ","MERCATOR","MIRZAINT","MOIL","MONSANTO","MONTECARLO","MOTHERSUMI","MRF","MTEDUCARE","MUTHOOTCAP","MUTHOOTFIN","NBCC","NESCO","NESTLEIND","NMDC","NRBBEARING","NTPC","OBEROIRLTY","OMKARCHEM","ONGC","ORIENTBANK","PAGEIND","PARAGMILK","PFIZER","PIDILITIND","PRABHAT","PRESTIGE","PUNJLLOYD","RALLIS","RBL","RBLBANK","REDINGTON","RELAXO","SAIL","SANOFI","SBILIFE","SBIN","SHALPAINTS","SHILPAMED","SIEMENS","SINTEX","SIYSIL","SOMANYCERA","SOUTHBANK","SPECIALITY","SUDARSCHEM","SUNDARMFIN","SUNDRMBRAK","SUNDRMFAST","SUPREMEIND","SUVEN","SYMPHONY","TAINWALCHM","TALWALKARS","TATACHEM","TATACOFFEE","TATAMOTORS","TATAPOWER","TATASPONGE","TATASTEEL","THERMAX","THOMASCOOK","TIRUMALCHM","TITAN","TRIDENT","TRIVENI","TVSMOTOR","UFLEX","VAKRANGEE","VARDHACRLC","VARDMNPOLY","VSTTILLERS","WABAG","WABCOINDIA","WELSPUNIND","WHEELS","WOCKPHARMA","ZYDUSWELL"]

In [13]:
def getAssetFundamentalData(assetList):
    #assetList = ["GODREJCP","BAJFINANCE"]
    d = {}
    for asset in assetList:
        url="http://financials.morningstar.com/ajax/exportKR2CSV.html?t="+asset
        data = requests.get(url).content
        rawData = pd.read_csv(io.StringIO(data.decode('utf-8')),sep='delimiter', header=None)
        df = pd.DataFrame()
        df  = rawData[0].str.split(''',(?=(?:[^'"]|'[^']*'|"[^"]*")*$)''',expand=True)
        df.insert(0, 'Asset', asset)
        #print(df.head())
        df.to_csv("fundamental_test.csv", sep=',', encoding='utf-8',mode='a', header=False)
        #d[asset] = df
        #print(asset)

In [14]:
getAssetFundamentalData(assetList)

D:\Data\SPM\Anaconda\lib\site-packages\ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys

In [15]:
data = pd.read_csv("fundamental_test.csv", sep=',', 
                  names = ["Sequence", "Asset", "Ratio", "2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","TTM"])

In [16]:
data.head()

,Sequence,Asset,Ratio,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,TTM
0,0,GLAXO,Growth Profitability and Financial Ratios for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,GLAXO,Financials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,GLAXO,NaN,2006-12,2007-12,2008-12,2009-12,2010-12,2011-12,2012-12,2013-12,2016-03,2017-03,TTM
3,3,GLAXO,Revenue INR Mil,"""15,820""","""16,082""","""16,934""","""19,078""","""21,511""","""24,144""","""26,467""","""25,627""","""28,379""","""30,000""","""30,000"""
4,4,GLAXO,Gross Margin %,60.1,60.4,61.3,63.2,63.4,56.1,58.3,50.0,48.1,53.4,53.4

In [155]:
df = data

In [130]:
df_test = df[df["Asset"] == "GLAXO"]
df_test.drop(0,axis=0,inplace=True)
df_test.head()

D:\Data\SPM\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Sequence,Asset,Ratio,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,TTM
1,1,GLAXO,Financials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,GLAXO,NaN,2006-12,2007-12,2008-12,2009-12,2010-12,2011-12,2012-12,2013-12,2016-03,2017-03,TTM
3,3,GLAXO,Revenue INR Mil,"""15,820""","""16,082""","""16,934""","""19,078""","""21,511""","""24,144""","""26,467""","""25,627""","""28,379""","""30,000""","""30,000"""
4,4,GLAXO,Gross Margin %,60.1,60.4,61.3,63.2,63.4,56.1,58.3,50.0,48.1,53.4,53.4
5,5,GLAXO,Operating Income INR Mil,"""5,663""","""6,231""","""7,010""","""7,612""","""8,716""","""7,821""","""8,344""","""7,115""","""5,784""","""5,112""","""5,112"""

In [192]:
def formatHeaderAndTranspose(df,assetList,headerNew):
    df_header=pd.DataFrame(columns=headerNew)
    df_header.loc[0] = headerNew
    df_header.to_csv("fundamental_transpose.csv", sep=',', encoding='utf-8',mode='a', header=False,index=False)
    for asset in assetList:
        df_test = pd.DataFrame()
        df_test = df[df["Asset"] == asset]
        
        
        header = df_test[df_test["Ratio"] == "Efficiency"]
        headers = ["Sequence", "Asset", "Ratio"]
        headerList = [header.iloc[0,i+3].split("-")[0] for i in range(11) ]
        df_test.columns= headers + headerList
        
        df_filtered = df_test[~df_test['TTM'].isin(['TTM'])]
        df_filtered = df_filtered[~df_filtered['TTM'].isin(['Latest Qtr'])]
        df_filtered.fillna(0, inplace=True)

        df_filtered.drop("Asset",axis=1,inplace=True)
        df_filtered.drop("Sequence",axis=1,inplace=True)
        df_filtered = df_filtered.transpose()
        df_filtered.insert(0, 'Asset', asset)
        
        df_filtered.to_csv("fundamental_transpose.csv", sep=',', encoding='utf-8',mode='a', header=False)

In [18]:
def getTranspose(df_filtered,assetList):
    #assetList = ["GODREJCP","BAJFINANCE"]
    count = 0
    for asset in assetList:
        count =  count + 1
        df_transpose = df_filtered[df_filtered["Asset"] == asset]
        df_transpose.drop("Asset",axis=1,inplace=True)
        df_transpose.drop("Sequence",axis=1,inplace=True)
        df_transpose = df_transpose.transpose()
        df_transpose.insert(0, 'Asset', asset)
        #if (count > 1):
        #    df2 = df_transpose.iloc[1:]
        #    df2.to_csv("fundamental_transpose.csv", sep=',', encoding='utf-8',mode='a', header=False)
        #else:
        df_transpose.to_csv("fundamental_transpose.csv", sep=',', encoding='utf-8',mode='a', header=False)

In [200]:
#assetList.remove("MARICO")
#assetList.remove("MOIL")
headerNew=["Year","Asset","Growth Profitability and Financial Ratios for GlaxoSmithKline Pharmaceuticals Ltd","Financials","Revenue INR Mil","Gross Margin %","Operating Income INR Mil","Operating Margin %","Net Income INR Mil","Earnings Per Share INR","Dividends INR","Payout Ratio % *","Shares Mil","Book Value Per Share * INR","Operating Cash Flow INR Mil","Cap Spending INR Mil","Free Cash Flow INR Mil","Free Cash Flow Per Share * INR","Working Capital INR Mil","Key Ratios -> Profitability","Revenue","COGS","Gross Margin","SG&A","R&D","Other","Operating Margin","Net Int Inc & Other","EBT Margin","Tax Rate %","Net Margin %","Asset Turnover (Average)","Return on Assets %","Financial Leverage (Average)","Return on Equity %","Return on Invested Capital %","Interest Coverage","Key Ratios -> Growth","Revenue %","Year over Year","3-Year Average","5-Year Average","10-Year Average","Operating Income %","Year over Year","3-Year Average","5-Year Average","10-Year Average","Net Income %","Year over Year","3-Year Average","5-Year Average","10-Year Average","EPS %","Year over Year","3-Year Average","5-Year Average","10-Year Average","Key Ratios -> Cash Flow","Operating Cash Flow Growth % YOY","Free Cash Flow Growth % YOY","Cap Ex as a % of Sales","Free Cash Flow/Sales %","Free Cash Flow/Net Income","Key Ratios -> Financial Health","Cash & Short-Term Investments","Accounts Receivable","Inventory","Other Current Assets","Total Current Assets","Net PP&E","Intangibles","Other Long-Term Assets","Total Assets","Accounts Payable","Short-Term Debt","Taxes Payable","Accrued Liabilities","Other Short-Term Liabilities","Total Current Liabilities","Long-Term Debt","Other Long-Term Liabilities","Total Liabilities","Total Stockholders' Equity","Total Liabilities & Equity","Current Ratio","Quick Ratio","Financial Leverage","Debt/Equity","Key Ratios -> Efficiency Ratios","Days Sales Outstanding","Days Inventory","Payables Period","Cash Conversion Cycle","Receivables Turnover","Inventory Turnover","Fixed Assets Turnover","Asset Turnover"]

In [189]:
df_header=pd.DataFrame(columns=headerNew)
df_header.loc[0] = [i for i in range(98)]
df_header

,Year,GLAXO,Growth Profitability and Financial Ratios for GlaxoSmithKline Pharmaceuticals Ltd,Financials,Revenue INR Mil,Gross Margin %,Operating Income INR Mil,Operating Margin %,Net Income INR Mil,Earnings Per Share INR,...,Debt/Equity,Key Ratios -> Efficiency Ratios,Days Sales Outstanding,Days Inventory,Payables Period,Cash Conversion Cycle,Receivables Turnover,Inventory Turnover,Fixed Assets Turnover,Asset Turnover
0,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97

In [193]:
formatHeaderAndTranspose(df,assetList,headerNew)

In [201]:
dataT = pd.read_csv("fundamental_transpose.csv")
dataT_filtered = dataT[~dataT['Year'].isin(['Ratio'])]
dataT_filtered.columns = headerNew 
dataT_filtered.to_csv("fundamental_clean.csv", sep=',', encoding='utf-8',mode='a', header=True, index=False)